/* WITH THIS RULE, 1rem = 10px */
html {
  font-size: 62.5%;
}
html, body {
  margin: 0;
  padding: 0;
}
/* NORMALIZING */
*, *:before, *:after {
  box-sizing: border-box;
  font-family: $primaryFont;
  color: $textColor;
}
/* BODY */
body {
  background-color: $white;
  font-size: $fs;
}
/* HEADINGS */
h1 {font-size: $fsH1;}
h2 {font-size: $fsH2;}
h3 {font-size: $fsH3;}
h4 {font-size: $fsH4;}

h1,h2,h3,h4,h5,h6 {
  font-family: $titleFont;
}
